<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <a th:each="job : ${jobs}">
        <ul>
            <li th:each="column : ${job}">
                <a th:text="${column.key}"></a> :
                <a th:text="${column.value}"></a>
            </li>
            <h3>***************</h3>
        </ul>
    </a>

    <!-- TODO #3 - Use the same list display from search.html -->

</div>

</body>
</html>